<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<div align="center">
    <h1><u>About</u></h1>
</div>
<br>
<div align="center">
    <a href="{% url 'home' %}">Back to home</a>
</div>
<br><br>
<div align="center">
    <h3>This is a simple website.</h3>
    <br>
    <h4>It takes a paragraph and counts the total number of words, as well as their frequences and lists them in descending
        order.</h4>
</div>
<br><br><br><br><br>
<ul>
    <li><em>This project was made on the 14th of June 2020, amidst the COVID-19 pandemic.</em></li>
    <li><em>Made by Kabir Kanha Arora.</em></li>
    <li><em>Part of the Django 2.2 course on Udemy by Nick Walter.</em></li>
</ul>
</body>
</html>